.footer-container {
    border: 1px solid red;
    display: grid;
    place-items: center;
}

.grid-container {
    width: 85%;
    max-width: 1200px;
    height: auto;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.svg-container {
    width: fit-content;
    border: 1px dotted red;
    grid-column-start: 1;
}

.icons-container {
    border: 1px solid purple;
    grid-row-start: 2;
    align-self: flex-end;
}

.links-container {
    border: 1px solid white;
    grid-row-start: span 2;
    grid-column-start: span 2;
}

.links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    list-style-type: none;
}

.newsletter-container {
    border: 1px solid grey;
    grid-column-start: 4;
    grid-row-start: span 2;
}

form {
    display: flex;
    gap: 0.6rem;
}

.copyrights {
    border: 1px solid green;
    margin-top: 3em;
}